<mat-sidenav-container fullscreen>

  <mat-sidenav-content>
    <h1>Sucursales ICBC</h1>

    <app-filtro (change)="filtrar($event)"></app-filtro>

    <ul>
      <li *ngFor="let sucursal of resultadoBusqueda">
        <app-sucursal (click)="clickSucursal($event)" [sucursal]="sucursal"></app-sucursal>
      </li>
      <button mat-button (click)="agregar()">Agregar</button>
      

    </ul>

    <!-- <div>
      <button (click)="toggleTheme()" mat-raised-button color="accent">Toggle theme</button>
    </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>